.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.box{
    height: 200px;
    width: 200px;
    background-color: gray;
    /* padding: 25px; */
    /* text-align: center; */
    margin: 20px;
    border-radius: 10px;

}