*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}
.app{
    background-color: aqua;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 28px;
    font-weight: 600;
    color: blue;
    border-bottom: 1px solid #333;
    padding-bottom: 30px 0;

}
.quiz h2{
    font-size: 28px;
    color: blue;
    font-weight: 600;
}
.btn{
    background-color: white;
    color: cornflowerblue;
    font-weight: 500;
    width: 100%;
    border: 1px solid  cornflowerblue;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: darkcyan;
    color: antiquewhite;
}
#next-btn{
    background-color: blue;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: antiquewhite;
    color: chocolate;
    border: 2px solid ;
}
